.app-error-alert {
  margin-bottom: 0;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.app-row {
  margin-left: 0;
  margin-right: 0;
}
.map{
  height: 100vh;
  padding: 0;
}
.venue-list-container {
  /* height: 100vh; */
  padding: 0;
  align-content: center;
}