/* Welcome Page */
#app {
  display: flex
}

#map {
    height: 100vh;
    width: 75%;
  }

.search-container {
  height: 100vh;
  width: 25%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}