/* Welcome Page */
/* #app {
  display: flex
}*/

.venue-list-container {
  height: 100vh;
  width: 25%;
}

.map {
    height: 100vh;
    width: 75%;
  }

#app {
  display: flex;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}